<div class="modal-body">
   <form id="lookup-form" class="form-horizontal" name="lookup-form">

      <!-- 
         Hidden input fields for requester id, requester type, requester session, and item id that auto populated  
         so $("#main-form").serialize() will include those values 
         !-->
      <input type="hidden" id="requester-id" name="requester_id" />
      <input type="hidden" id="requester-type" name="requester_type" />
      <input type="hidden" id="requester-session" name="requester_session" />
      <div class="form-group">
         <label for="user_id" class="col-sm-12">Look up a student by student ID, first name, last name, or email:</label>
         <div class="col-sm-12">

            <input type="text" name="lookup-string" id="lookup-string">

         </div>
      </div>

      <div class="table-responsive" id="lookup-table-wrapper">

      </div>
   </form>
</div>