<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             <h4 class="modal-title">Import Students</h4>
          </div>
          <div class="modal-body form-horizontal">
                <form id="upload-form" action="../../account/upload_student_csv.php" method="post" enctype="multipart/form-data">
                         
                                         <!--
                                         Hidden input fields for requester id, requester type, requester session, and item id that auto populated 
                                         so $("#main-form").serialize() will include those values
                                         !-->
                                         <input type="hidden" class="form-control" id="requester-id" name="requester_id"/>
                                         <input type="hidden" class="form-control" id="requester-type" name="requester_type"/>
                                         <input type="hidden" class="form-control" id="requester-session" name="requester_session"/>
 
                    <div class="form-group">
                        <label for="user_id" class="col-sm-3 control-label">Select a CSV to upload. The CSV file must contains a header row.</label>
                        <div class="col-sm-9">
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <input type="submit" value="Upload Zip" name="submit">
                        </div>
                    </div>
                
                </form>    
 
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit-button">Import</button>
          </div>
       </div>
    </div>
 </div>