<div class="modal-body">
   <form id="upload-form" class="form-horizontal" name="upload-form">

      <!-- 
         Hidden input fields for requester id, requester type, requester session, and item id that auto populated  
         so $("#main-form").serialize() will include those values 
         !-->
      <input type="hidden" id="requester-id" name="requester_id" />
      <input type="hidden" id="requester-type" name="requester_type" />
      <input type="hidden" id="requester-session" name="requester_session" />
      <div class="form-group">
         <label for="user_id" class="col-sm-12">Select a CSV to upload. The CSV file must contains a header row.</label>
         <div class="col-sm-12">
            <label class="btn btn-default" for="fileToUpload">
               <input type="file" name="fileToUpload" id="fileToUpload" hidden>
            </label>
         </div>
      </div>
   </form>
</div>