<div class="modal fade" id="detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Create a User</h4>
         </div>
         <div class="modal-body form-horizontal">
            <div class="form-group">
               <label for="user_id" class="col-sm-3 control-label">EWU ID:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" name="user_id"/>
               </div>
            </div>
            
            <div class="form-group">
               <label for="f_name" class="col-sm-3 control-label">First Name:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" name="f_name"/>
               </div>
            </div>
            
            <div class="form-group">
               <label for="l_name" class="col-sm-3 control-label">Last Name:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" name="l_name"/>
               </div>
            </div>
            
            <div class="form-group">
               <label for="email" class="col-sm-3 control-label">Email:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" name="email"/>
               </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">Type:</label>
                <div class="col-sm-9">
                    <label id="type-admin"><input type="checkbox"  id="type-admin-checkbox" class="form-control" name="type" value="Admin"/>Admin</label>
                    <label id="type-teacher"><input type="checkbox" id="type-teacher-checkbox" class="form-control" name="type" value="Teacher"/>Teacher</label>
                    <label id="type-grader"><input type="checkbox" id="type-grader-checkbox" class="form-control" name="type" value="Grader"/>Grader</label>
                    <label id="type-student"><input type="checkbox" id="type-student-checkbox" class="form-control" name="type" value="Student"/>Student</label>
                </div>
             </div>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit-button">Create</button>
         </div>
      </div>
   </div>
</div>