<div class="panel panel-default">
   <div class="panel-heading panel-title">Exams</div>

   <div class="table-responsive">
      <table class="table table-condensed" id="exam-table">
         <thead>
            <tr>
               <th>Exam Name</th>
               <th>Quarter</th>
               <th>Date</th>
               <th>Start Time</th>
               <th>State</th>
               <th>&nbsp;</th>
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
   </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addExamModal" id="create-button">Create Exam</button>