<div class="modal-body">
   <h4>Select data to include in report:</h4>
   <form id="report-form" class="form-horizontal">
      <div class="form-group">
         <label class="col-sm-4 control-label">Select All:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="select-all-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label">Name:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-name-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label">EWU ID:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-id-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label">Email:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-email-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label">Seat Number:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-seat-checkbox" class="form-control checkbox-fix"/>
      </div>
      </div>
      <div class="form-group archived-only">
         <label class="col-sm-4 control-label">Exam Score:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-exam-grade-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group archived-only">
         <label class="col-sm-4 control-label">Pass/Fail:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-result-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group archived-only">
         <label class="col-sm-4 control-label">Final Category Scores:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-cat-grade-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group archived-only">
         <label class="col-sm-4 control-label">Category Scores By Grader:</label>
         <div class="col-sm-8">
            <input type="checkbox" id="student-grader-grade-checkbox" class="form-control checkbox-fix"/>
         </div>
      </div>
      <div class="form-group col-sm-12" style="text-align:center">
            <input type="hidden" name="checkboxes"/>
      </div>
      <div class="form-group">
         <label for="file-name" class="col-sm-4 control-label">File Name:</label>
         <div class="col-sm-6" style="padding-right:0px">
            <input type="text" id="file-name" class="form-control" name="file-name"/>
         </div>
         <div class="col-sm-2" style="padding-top:15px;padding-left:0px">.csv</div>
      </div>
   </form> 
      
   <a id="download-link"></a>
</div>