<!DOCTYPE>

<head>
    <script src="jquery-1.5.2.min.js"></script>
    <script src="script.js"> </script>
</head>

<body>

<div class="edit-form">
         <legend>Create an exam</legend>

         <label for="name">Exam Name:</label>
         <input type="text" id="ape-name" name="name"/>

         <label for="quarter">Quarter:</label>
         <input type="text" id="ape-quarter" name="quarter"/>

         <label for="date">Date:</label>
         <input type="text" id="ape-date" name="date"/>

         <label for="location">Location:</label>
         <select id="ape-loc"></select>

         <label for="state">State:</label>
         <input type="text" id="ape-state" name="state"/>

         <label for="passing-grade">Passing Grade:</label>
         <input type="text" id="ape-passing-grade" name="passing-grade"/>

         <label for="duration">Duration:</label>
         <input type="text" id="ape-duration" name="duration"/>

         <label for="start-time">Start Time:</label>
         <input type="text" id="ape-start-time" name="start-time"/>

         <label for="cutoff">Cutoff:</label>
         <input type="text" id="ape-cutoff" name="cutoff"/>
         
         <button id="submit-button">Create</button>
      </div>
</body>
</html>