<h1>
      <strong>Admin Dashboard</strong>
  </h1>

  <div class="panel panel-primary" id="exam-panel">
      <div class="panel-heading">Upcoming Exams</div>
   
      <div class="table-toolbar">
               <div class="table-responsive">
                           
                  </div>
   
      </div>
   
   </div>

  <div class="panel panel-primary" id="grading-panel">
      <div class="panel-heading">
          <h3 class="panel-title">
              Grading Progress
          </h3>
      </div>
      <div class="panel-body" id="main-grading-panel">
  
      </div> 
  </div>