<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                  <form id="main-form" class="form-horizontal">
                    <input type="hidden" id="requester-id" name="requester_id" />
                    <input type="hidden" id="requester-type" name="requester_type" />
                    <input type="hidden" id="requester-session" name="requester_session_id" />
                    <input type="hidden" id="item-id" name="content_id" />

                    <div class="form-group">

                    </div>

                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" id="submit-button" data-dismiss="modal">Save</button>
              </div>
          </div>
      </div>
  </div>