
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
         <div class="panel-title" id="panel-title-1">
            <a class="h4" role="button" data-toggle="collapse" href="#panel-body-1" aria-expanded="true" aria-controls="collapseOne">
               
            </a>
         </div>
      </div>
      <div id="panel-body-1" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingOne">
         <div class="col-sm-11" id="panel-body-content-1"></div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
         <div class="panel-title" id="panel-title-2">
            <a class="h4" role="button" data-toggle="collapse" href="#panel-body-2" aria-expanded="false" aria-controls="collapseTwo">
               
            </a>
         </div>
      </div>
      <div id="panel-body-2" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingTwo">
        <div class="col-sm-11" id="panel-body-content-2"></div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
         <div class="panel-title" id="panel-title-3">
            <a class="h4" role="button" data-toggle="collapse" href="#panel-body-3" aria-expanded="false" aria-controls="collapseThree">
               
            </a>
         </div>
      </div>
      <div id="panel-body-3" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingThree">
        <div class="col-sm-11" id="panel-body-content-3"></div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
         <div class="panel-title" id="panel-title-4">
            <a class="h4" role="button" data-toggle="collapse" href="#panel-body-4" aria-expanded="false" aria-controls="collapseFour">
               
            </a>
         </div>
      </div>
      <div id="panel-body-4" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingFour">
        <div class="col-sm-11" id="panel-body-content-4"></div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
         <div class="panel-title" id="panel-title-5">
            <a class="h4" role="button" data-toggle="collapse" href="#panel-body-5" aria-expanded="false" aria-controls="collapseFive">
               
            </a>
         </div>
      </div>
      <div id="panel-body-5" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingFive">
        <div class="col-sm-11" id="panel-body-content-5"></div>
      </div>
   </div>
   
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
         <div class="panel-title" id="panel-title-6">
            <a class="h4" role="button" data-toggle="collapse" href="#panel-body-6" aria-expanded="false" aria-controls="collapseSix">
               
            </a>
         </div>
      </div>
      <div id="panel-body-6" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingSix">
        <div class="col-sm-11" id="panel-body-content-6"></div>
      </div>
   </div>
</div>