<div class="modal-body">
   <form id="main-form" class="form-horizontal">

      <!--
         Hidden input fields for requester id, requester type, requester session, and item id that auto populated 
         so $("#main-form").serialize() will include those values
         !-->
      <input type="hidden" class="form-control" id="requester-id" name="requester_id" />
      <input type="hidden" class="form-control" id="requester-type" name="requester_type" />
      <input type="hidden" class="form-control" id="requester-session" name="requester_session" />
      <input type="hidden" class="form-control" id="item-id" name="exam_id" />

      <div class="form-group">
         <label class="col-sm-3 control-label">Exam Name:</label>
         <div class="col-sm-9">
            <input disabled type="text" class="form-control" name="name" />
         </div>
      </div>

      <div class="form-group">
         <label class="col-sm-3 control-label">Quarter:</label>
         <div class="col-sm-9">
            <input disabled type="text" class="form-control" name="quarter" />
         </div>
      </div>

      <div class="form-group">
         <label class="col-sm-3 control-label">Date:</label>
         <div class="col-sm-9">
            <input disabled type="text" class="form-control" name="date" />
         </div>
      </div>

      <div class="form-group">
            <label class="col-sm-3 control-label">Start Time:</label>
            <div class="col-sm-9">
               <input disabled type="text" class="form-control" name="start_time" />
            </div>
         </div>

      <div class="form-group">
            <label class="col-sm-3 control-label">Duration:</label>
            <div class="col-sm-9">
               <input disabled type="text" class="form-control" name="duration" />
            </div>
         </div>

         

      <div class="form-group">
         <label class="col-sm-3 control-label">Location:</label>
         <div class="col-sm-9">
            <input disabled type="text" class="form-control" name="location" />
         </div>
      </div>

      <div class="form-group">
         <label class="col-sm-3 control-label">State:</label>
         <div class="col-sm-9">
            <input disabled type="text" class="form-control" name="state" />
         </div>
      </div>

      <div class="form-group">
         <label class="col-sm-3 control-label">Passing Grade:</label>
         <div class="col-sm-9">
            <input disabled type="text" class="form-control" name="passing_grade" />
         </div>
      </div>
   </form>
</div>