<div class="panel panel-default">
   <div class="panel-heading">Categories</div>

   <div class="table-responsive">
      <table class="table table-hover table-condensed" id="category-table">
         <thead>
            <tr>
               <th>Name</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
   </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal" id="create-button">Create Category</button>