<div class="modal-body">
   <form id="main-form" class="form-horizontal">

      <!--
         Hidden input fields for requester id, requester type, requester session, and item id that auto populated 
         so $("#main-form").serialize() will include those values
         !-->
      <input type="hidden" id="requester-id" name="requester_id"/>
      <input type="hidden" id="requester-type" name="requester_type"/>
      <input type="hidden" id="requester-session" name="requester_session"/>
      <input type="hidden" id="item-id" name="cat_id"/>

      <div class="form-group">
         <label class="col-sm-3 control-label">Category Name:</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" name="name"/>
         </div>
      </div>
   </form>
</div>