<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
       <div class="navbar-header pull-left">
            <div class="hamburger-menu pull-left"><a class="btn btn-default sidebar-toggle" data-toggle="collapse" data-target="#ape-sidebar"">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a></div>
          <h4 class="navbar-text visible-xs-*">EWU Advancement Programming Exam</h4>
       </div>
 
       <div class="navbar-header pull-right">
          <a href="/ape/sso/signin.php" class="btn btn-default" id="signin-btn"></a>
       </div>
    </div>
 </nav>