<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
       <div class="navbar-header pull-left">
          <a class="navbar-brand" href="https://www.ewu.edu">
             <img src="img/header_logo.png" alt="EWU Logo">
          </a>
          <p class="navbar-text visible-xs-*">EWU Advancement Programming Exam</p>
       </div>
 
       <div class="navbar-header pull-right">
          <a href="/cscd488-summerfall17/sso/signin.php" class="btn btn-default">Sign in</a>
       </div>
    </div>
 </nav>