<footer class="footer">
   <div class="container">
      <ul class="list-inline">
         <li class="list-inline-item">
            <a href="http://www.ewu.edu/contact-ewu">Contact Info</a>
         </li><li class="list-inline-item">
            <a href="http://www.ewu.edu/about">About</a>
         </li><li class="list-inline-item">
            <a href="http://www.ewu.edu/foundation">Give to EWU</a>
         </li><li class="list-inline-item">
            <a href="http://www.ewu.edu/visit">Locations / Map</a>
         </li><li class="list-inline-item">
            <a href="http://canvas.ewu.edu">Canvas</a>
         </li><li class="list-inline-item">
            <a href="http://eaglenet.ewu.edu">EagleNET</a>
         </li><li class="list-inline-item">
            <a href="http://www.ewu.edu/library">Library</a>
         </li><li class="list-inline-item">
            <a href="http://www.ewu.edu/jobs">Jobs</a>
         </li><li class="list-inline-item">
            <a href="http://www.ewu.edu/site-map">Site Map</a>
         </li>
      </ul>
      <p class="small text-center">&copy; 2017 Eastern Washington University</p>
   </div>
</footer>