<!DOCTYPE html>
<html lang="en">

<head>
   <title>EWU Advancement Programming Exam</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="./img/favicon.ico">
   <link rel="stylesheet" href="./css/styles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="./js/script.js"></script>
</head>

<body>
   <header>
      <a href="http://www.ewu.edu"><img src="./img/logo_uh_color-template.png" alt="EWU Logo"></a>
      <div>
         <a href="http://www.ewu.edu">Home</a>
         <a href="http://access.ewu.edu">EWU Access</a>
         <a href="http://access.ewu.edu/it/services/accounts-passwords.xml" target="cas_help">Help</a>
      </div>
      <form action="http://www.ewu.edu/Search.xml" method="get" id="forms">
         <div class="search">
            <div class="search-bg">
               <label for="submit-query">Search terms:</label>
               <input value="005562583543807985001:n6h_bzdpmve" name="cx" type="hidden" />
               <input value="FORID:11" name="cof" type="hidden" />
               <input value="UTF-8" name="ie" type="hidden" />
               <input value="" tabindex="6" id="submit-query" class="submit-query" name="q" type="text" rel="search..." />
               <label for="selectbox">Select Type of Search:</label>
               <select tabindex="7" name="selectbox" id="selectbox" class="selectbox">
								<option value="ewu">EWU</option>
								<option value="web">Web</option>
								<option value="people">People</option>
								<option value="programs">Programs</option>
							</select>
            </div>
            <input alt="Go" value="Go" name="sa" type="image" class="search-submit" />
         </div>
      </form>

      <div id="breadcrumbs">
         <h1>EWU Advancement Programming Exam</h1>
         <div>
            <a href="#">Login</a>
            <a href="#">APE Home</a>
         </div>
      </div>
   </header>

   <section>
      <fieldset>
         <legend>Create an exam</legend>

         <label for="name">Exam Name:</label>
         <input type="text" name="name"/>

         <label for="date">Date:</label>
         <input type="text" name="date"/>

         <label for="location">Location:</label>
         <input type="text" name="location"/>

         <label for="state">State:</label>
         <input type="text" name="state"/>

         <label for="passing_grade">Passing Grade:</label>
         <input type="text" name="passing_grade"/>

         <label for="duration">Duration:</label>
         <input type="text" name="duration"/>

         <label for="start_time">Start Time:</label>
         <input type="text" name="start_time"/>

         <label for="cutoff">Cutoff:</label>
         <input type="text" name="cutoff"/>
         
         <button>Create</button>
      </fieldset>

      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Quarter</th>
               <th>Date</th>
               <th>Location</th>
               <th>State</th>
               <th>Passing Grade</th>
               <th>Duration</th>
               <th>Start Time</th>
               <th>Cutoff</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
         </thead>
         <tbody>

         </tbody>
      </table>
   </section>

   <footer>
      <div>
         <a href="http://www.ewu.edu/about">About</a>
         <a href="http://www.ewu.edu/contact-ewu">Contact Info</a>
         <a href="http://www.ewu.edu/foundation">Give to EWU</a>
         <a href="http://www.ewu.edu/visit">Locations / Map</a>
         <a href="http://canvas.ewu.edu">Canvas</a>
         <a href="http://eaglenet.ewu.edu">EagleNET</a>
         <a href="http://www.ewu.edu/library">Library</a>
         <a href="http://www.ewu.edu/jobs">Jobs</a>
         <a href="http://www.ewu.edu/site-map">Site Map</a>
      </div>

      <div>
         <small>&copy; 2017 Eastern Washington University</small>
         <div>
            <span>Stu Steiner</span>
            <a href="mailto:ssteiner@ewu.edu">ssteiner@ewu.edu</a>
            <a href="http://www.ewu.edu/Privacy-Policy">Privacy Policy</a>
         </div>
      </div>
   </footer>
</body>

</html>